.log-entry
	input(id='entry-' + key, type='checkbox')
	label.flip(for='entry-' + key)
	.iscc= entry.time + ' - ' + 'ISCC: ' + entry.iscc.metaID.code + '-' + entry.iscc.contentID.code + '-' + entry.iscc.dataID.code + '-' + entry.iscc.instanceID.code
	.front
		.bits
			.m= entry.iscc.metaID.code + ': '
			.mid(data-sim=entry.iscc.metaID.sim)
				-for (i=0; i<entry.iscc.metaID.bits.length; ++i) {
					if entry.iscc.metaID.diff[i]
						span.bit= entry.iscc.metaID.bits[i]
					else
						span.bit.diff= entry.iscc.metaID.bits[i]
				- }
			.c= entry.iscc.contentID.code + ': '
			.cid(data-sim=entry.iscc.contentID.sim)
				-for (i=0; i<entry.iscc.contentID.bits.length; ++i) {
					if entry.iscc.contentID.diff[i]
						span.bit= entry.iscc.contentID.bits[i]
					else
						span.bit.diff= entry.iscc.contentID.bits[i]
				- }
			.d= entry.iscc.dataID.code + ': '
			.did(data-sim=entry.iscc.dataID.sim)
				-for (i=0; i<entry.iscc.dataID.bits.length; ++i) {
					if entry.iscc.dataID.diff[i]
						span.bit= entry.iscc.dataID.bits[i]
					else
						span.bit.diff= entry.iscc.dataID.bits[i]
				- }
			.i= entry.iscc.instanceID.code + ': '
			.iid(data-sim=entry.iscc.instanceID.sim)
				-for (i=0; i<entry.iscc.instanceID.bits.length; ++i) {
					if entry.iscc.instanceID.diff[i]
						span.bit= entry.iscc.instanceID.bits[i]
					else
						span.bit.diff= entry.iscc.metaID.bits[i]
				- }
	.back
		.title= 'Title: ' + entry.title
		if entry.creator
			.creator= 'Creators: ' + entry.creator
		label.text
			input(type="checkbox")
			.short!= entry.text.substring(0, 100)  + (entry.text.length > 100 ? '...' : '')
			.long!= entry.text